type hal_fingerprint_r5x, domain;
hal_client_domain(hal_fingerprint_r5x, hal_fingerprint)
hal_server_domain(hal_fingerprint_r5x, hal_fingerprint)

type hal_fingerprint_r5x_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_r5x)
