on init
   mount none /vendor/lost+found /vendor/overlay bind
   mount none /dev/null /vendor/etc/init/vendor.oppo.hardware.biometrics.fingerprint@2.1-service.rc bind

on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    # DT2W
    chown system system /proc/touchpanel/double_tap_enable
    chown 0660 /proc/touchpanel/double_tap_enable

    # Disable edge limit control interface
    write /proc/touchpanel/oppo_tp_limit_enable 0

    # Enable oppo touchpanel direction
    write /proc/touchpanel/oppo_tp_direction 1

    # Update touchscreen firmware
    chown system system /proc/touchpanel/tp_fw_update
    write /proc/touchpanel/tp_fw_update 1

service fps_hal /vendor/bin/hw/vendor.oppo.hardware.biometrics.fingerprint@2.1-service
    class late_start
    user system
    group system input uhid

service oppo_fingerprints_sh /vendor/bin/sh /vendor/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled

on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.tcpdump=running
    stop tcpdump

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

service cvphalservice /system/bin/true
    disabled

service vendor.power-hal-1-0 /system/bin/true
    disabled

service perf-hal-2-0 /system/bin/true
    disabled
